@use '../base/mixins' as *;
@use '../base/variables' as *;
@use 'sass:math';

.footer {
    padding: math.div($separacion, 2);
    background-color: $grisOscuro;

    .contenedor-footer {
        padding-top: math.div($separacion, 2);
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}