@use '../base/mixins' as *;
@use '../base/variables' as *;
@use 'sass:color';

.dark-mode-button {
    width: 4rem;
    margin-left: 3rem;
    background-color: color.mix($blanco, transparent, 30%);
    border-radius: 4rem;
    padding: .3rem;
    transition: all .3s;
    &:hover {
        cursor: pointer;
        filter: invert(1);
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {

    visibility: hidden;
    opacity: 0;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, opacity .3s linear;

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        transition: all .3s;
        &:hover {
            color:$verde;
        }
        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

// *Menú de hamburguesa*//

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
}